{% extends 'base.html.twig' %}

{% block title %}Ajouter Utilisateur{% endblock %}
{% block body %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-success">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}