{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}
    <h1>Détails du compte:</h1>
    <hr>
    <hr>
    <hr>
    <h4>Nom d'utilisateur :</h4> <h1>{{ user.username}}</h1>
    <hr>
    <h4>L'email d'utilisateur:</h4> <p>{{ user.email}}</p>
    <hr>
    <h4>le mot de passe d'utilisateur (cyptéé!) : </h4> <p>{{ user.password}}</p>
    <hr>
    <hr>
    <hr>
    <a href="/">Retour</a>
{% endblock %}